.card-create-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  gap: 8px;
}

.card-create-image-container {
  width: 100%;
  height: 280px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-create-image-container > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  filter: drop-shadow(0px 10px 4px #0007);
}

.card-create-div-image {
  width: 80%;
  height: 80%;
  border-radius: 10px;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  background-size: 200% 100%;
  animation: 0.8s shine linear infinite;
}

.card-create-principal-info,
.card-create-secondary-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-create-div-name,
.card-create-div-brand,
.card-create-div-price {
  width: 120px;
  height: 20px;
  border-radius: 5px;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  background-size: 200% 100%;
  animation: 0.8s shine linear infinite;
}

.card-create-div-brand {
  width: 100px;
}

.brand-container-card-create > h4,
.variation-container-create-card > h4 {
  color: #6b6b6b;
  font-size: 1.1em;
}

.name-container-card-create > h2 {
  font-size: 1.3em;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
